<!-- <h2>{{ hero.name | uppercase }} Details</h2>
<div>
  <span>id: </span>{{ hero.id }}
</div>
<div>
  <span>name: </span>{{ hero.name }}
</div> -->

<!-- <div>
  <label for="name">Hero Name:</label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let h of heroes">
    <!-- <button [class.selected]="h === selectedHero" type="button" (click)="onSelect(h)"> -->
    <a routerLink="/hero/{{h.id}}">
      <span class="badge">{{h.id}}</span>
      <span class="name">{{h.name}}</span>
    </a>
    <button type="button" class="delete" (click)="deleteHero(h)">x</button>
  </li>
</ul>
<h2>Add Hero</h2>
<div>
  <label for="new-hero">Hero Name: </label>
  <input type="text" id="new-hero" #heroName>
  <button type="button" class="add-button" (click)="addHero(heroName.value); heroName.value=''">Add Hero</button>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
